[user]
    name = Vadim Vlasov
    email = vvlasov@pushwoosh.com
[color]
    ui = true
[alias]
    l  = log --graph --full-history --pretty=format:'%C(yellow)%h%Creset%C(blue bold)%d%Creset %C(normal)%s %Creset%C(red bold)by %an %Creset%C(cyan)(%ar)%Creset'
    ll = !git l --all
    cn = clone
    st = status
    ci = commit
    br = branch
    co = checkout
    di = diff
    dt = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[url "git@gitlab.corp.pushwoosh.com:"]
    insteadOf = https://gitlab.corp.pushwoosh.com/
[url "git@github.com:"]
    insteadOf = https://github.com/
[pull]
    ff = only
[core]
    pager = delta --syntax-theme none --color-only --minus-style 'red' --plus-style 'green' --tabs 8
